*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0d0d0d;
  color:white;
  font-family:Arial,sans-serif;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.app{
  text-align:center;
  width:90%;
  max-width:400px;
}

h1{
  font-size:3rem;
  color:#9b5cff;
  margin-bottom:10px;
}

.card{
  background:#171717;
  border-radius:20px;
  padding:20px;
  margin:25px 0;
  border:1px solid #262626;
}

.tagline{
  color:#9a9a9a;
  margin-bottom:40px;
  line-height:1.6;
}

button{
  background:#9b5cff;
  color:white;
  border:none;
  border-radius:16px;
  padding:16px 32px;
  font-size:1rem;
  font-weight:bold;
}